<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <title>Guiching</title>
  </head>
  <body>
      <h1>Guiching</h1>
      <p>
      <h2>Primary Figure</h2>
      <ul>
        <li class="hexnumber">{{.PId}}</li>
        <li>{{index .PLines 5}}</li>
        <li>{{index .PLines 4}}</li>
        <li>{{index .PLines 3}}</li>
        <li>{{index .PLines 2}}</li>
        <li>{{index .PLines 1}}</li>
        <li>{{index .PLines 0}}</li>

        <li class="hexname">{{.PName}}</li>
        <li class="hexdesc">{{.PDesc}}</li>
      </ul>
      <br>
      {{if .Rel}}
      <h2>Relating Figure</h2>
      <ul>
        <li class="hexnumber">{{.RId}}</li>
        <li>{{index .RLines 5}}</li>
        <li>{{index .RLines 4}}</li>
        <li>{{index .RLines 3}}</li>
        <li>{{index .RLines 2}}</li>
        <li>{{index .RLines 1}}</li>
        <li>{{index .RLines 0}}</li>

        <li class="hexname">{{.RName}}</li>
        <li class="hexdesc">{{.RDesc}}</li>
      </ul>
      {{end}}
      </p>
      <p>
        <button type="button" value="New hexagram"
          onClick="window.location.reload();">New hexagram</button>
      </p>
  </body>
</html>

